//= require whitespace-reset
//= require_tree ./vendor
//= require_tree ./global
//= require_self

@import mixins

$kitchen_vinyl: #bfc281
$days_of_heaven: #ededd0
$the_gray_area: #676960
$peaches_and_blush: #de946f
$hay_bales: #c9a957

body
  background-color: $the_gray_area
  margin-top: 20px

#content, nav
  background-color: $days_of_heaven
  margin: 0 auto
  width: 960px

nav
  text-align: center
  margin-bottom: 20px
  a
    display: block
    padding: 10px 0

#items, #empty
  padding: 20px
